
.container{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.content{
  display: flex;
  border:1px solid #ccc;
  background-color:#f8f9fa;
  padding: 20px;
  box-shadow: 1px 1px 1px white;
  border-radius: 5px;
}
.left_side{
  width: 50%;
  height: auto;
  float: left;
}
.right_side{
  width: 50%;
  height: auto;
  float: right;
}
.content p,
.content li,
.content a {
  font-size: 14px;
  color: #000;
  line-height: 1.5;
}

.content a {
  color: #007bff;
  text-decoration: none;
}
.footer{
  display: flex;
  height: 50px;
}
.footer_right{
  float: right;
margin-left: 27px;
}
.footer_left button span{
  color: green;
}
.footer button, .footer select{
  height: 50px;
  width: auto;
}